* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100dvh;
}

p {
    margin-block: 1lvh;
}

.navbar{
    transition: all 0.5s;
}
.navbar-scorlled{
    background-color: black;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.logo-navbar{
    height: 80px; 
    width: auto;
}

.icon-link {
    color: #FF0000;
    text-decoration: none;
    transition: transform 0.2s;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: transparent;
    margin-bottom: 10px;
}

.icon-link-2 {
    color: pink;
    text-decoration: none;
    transition: transform 0.2s;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: transparent;
}

.icon-link-3 {
    color: white;
    text-decoration: none;
    transition: transform 0.2s;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: transparent;
}

.icon-link-4 {
    color: lightblue;
    text-decoration: none;
    transition: transform 0.2s;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: transparent;
}

main {
    flex: 1;

    
}

.footer-fixed {
    text-align: center;
    justify-content: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    align-items: center;
    display: inline-flex;
}

.contenedor-texto {
    margin: 5px; 
    padding: 10px; 
  }

.img-fluid{
    width: auto;          
    height: auto;         
    display: block;        
    margin: 0 auto;        
    border-radius: 10px;   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.h4{
    text-align: justify;
}

body {
    background-image: url('imagenes/Portada-Modificado-Blanco.svg');
    background-size: cover;      
    background-repeat: no-repeat;
    background-position: center;
  }

 .text2 {
    background-color: rgba(30, 30, 35, 0.9); 
    color: white;
    padding: 1rem;
    border-radius: 8px;
    font-size: 1.1rem;

    max-width: 800px;         
    margin: 0 auto;           
    padding-left: 2rem;       
    padding-right: 2rem;      
}